In [11]:
import pandas as pd
import datetime 
from datetime import datetime


data = pd.read_csv("sp500_joined_closes.csv")
data.head(2)

         Date         ZTS
0  2019-06-10  110.060989
1  2019-06-11  110.001076

In [20]:
data

          Date         ZTS
0   2019-06-10  110.060989
1   2019-06-11  110.001076
2   2019-06-12  111.279228
3   2019-06-13  109.871262
4   2019-06-14  110.630165
5   2019-06-17  110.650139
6   2019-06-18  113.216431
7   2019-06-19  114.115128
8   2019-06-20  112.807022
9   2019-06-21  112.717148
10  2019-06-24  113.306305
11  2019-06-25  113.695740
12  2019-06-26  112.886909
13  2019-06-27  112.597328
14  2019-06-28  113.326271
15  2019-07-01  113.406158
16  2019-07-02  114.424683
17  2019-07-03  115.173599
18  2019-07-05  114.015274
19  2019-07-08  113.935387
20  2019-07-09  113.096603
21  2019-07-10  114.404716
22  2019-07-11  114.185028
23  2019-07-12  113.146530
24  2019-07-15  113.406158
25  2019-07-16  113.316292
26  2019-07-17  113.515999
27  2019-07-18  114.940002
28  2019-07-19  114.089996
29  2019-07-22  115.940002
..         ...         ...
44  2019-08-12  123.959999
45  2019-08-13  124.699997
46  2019-08-14  121.790001
47  2019-08-15  123.680000
48  2019-08-16  125.370003
49  2019-08-19  126.750000
50  2019-08-20  126.050003
51  2019-08-21  127.639999
52  2019-08-22  126.639999
53  2019-08-23  123.070000
54  2019-08-26  126.199997
55  2019-08-27  125.239998
56  2019-08-28  125.769997
57  2019-08-29  126.680000
58  2019-08-30  126.419998
59  2019-09-03  127.040001
60  2019-09-04  127.589996
61  2019-09-05  128.070007
62  2019-09-06  128.429993
63  2019-09-09  126.660004
64  2019-09-10  123.029999
65  2019-09-11  120.699997
66  2019-09-12  121.690002
67  2019-09-13  121.019997
68  2019-09-16  119.639999
69  2019-09-17  122.419998
70  2019-09-18  123.239998
71  2019-09-19  124.269997
72  2019-09-20  125.620003
73  2019-09-23  125.559998

[74 rows x 2 columns]

In [12]:
dataset = data.dropna(axis='columns')

In [13]:
dataset.shape

(74, 2)

In [14]:
dataset.head()

         Date         ZTS
0  2019-06-10  110.060989
1  2019-06-11  110.001076
2  2019-06-12  111.279228
3  2019-06-13  109.871262
4  2019-06-14  110.630165

In [15]:
dataset['Date'] = pd.to_datetime(dataset['Date'], infer_datetime_format=True)

In [16]:
dataset.head()

        Date         ZTS
0 2019-06-10  110.060989
1 2019-06-11  110.001076
2 2019-06-12  111.279228
3 2019-06-13  109.871262
4 2019-06-14  110.630165

In [17]:
dataset['day'] = (dataset['Date']).dt.day
dataset['month'] = (dataset['Date']).dt.month
dataset['year'] = (dataset['Date']).dt.year
dataset['hour'] = (dataset["Date"]).dt.hour

In [18]:
dataset.tail()

         Date         ZTS  day  month  year  hour
69 2019-09-17  122.419998   17      9  2019     0
70 2019-09-18  123.239998   18      9  2019     0
71 2019-09-19  124.269997   19      9  2019     0
72 2019-09-20  125.620003   20      9  2019     0
73 2019-09-23  125.559998   23      9  2019     0

In [19]:
dataset.to_csv("stock_data.csv")